<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Compatibility.OCaml" version="0.1.13" targetFramework="net471" />
  <package id="FSharp.Compatibility.OCaml.Format" version="0.1.13" targetFramework="net471" />
  <package id="FSharp.Compatibility.OCaml.LexYacc" version="0.1.13" targetFramework="net471" />
  <package id="FSharp.Compatibility.OCaml.System" version="0.1.13" targetFramework="net471" />
  <package id="FSharp.Core" version="4.3.4" targetFramework="net471" />
  <package id="FsLexYacc" version="7.0.6" targetFramework="net471" />
  <package id="FsLexYacc.Runtime" version="7.0.6" targetFramework="net471" />
  <package id="FSPowerPack.Community" version="3.0.0.0" targetFramework="net471" />
  <package id="FSPowerPack.Core.Community" version="3.0.0.0" targetFramework="net471" />
  <package id="FSPowerPack.Linq.Community" version="3.0.0.0" targetFramework="net471" />
  <package id="FSPowerPack.Metadata.Community" version="3.0.0.0" targetFramework="net471" />
  <package id="FSPowerPack.Parallel.Seq.Community" version="3.0.0.0" targetFramework="net471" />
</packages>